<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Blog site </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head >

<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${post}"class="alert alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p><b>Views: </b><span th:text="${el.views}"/></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'  " id="position_form2" class="btn btn-warning">Edit</a><br><br>
         <style>

      #position_form{
          margin-left: +2cm;
          margin-top: -1.65cm;

      }
         </style>
        <form id="position_form" th:action="'/blog/'+ ${el.id} + '/remove'" method="post">
              <button id="bottom-panel" class="btn btn-warning" type="submit">Delete</button>
        </form>

    </div>

</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>